body{
    background-color: #fffbf0;
    text-align: center;
}

h1{
    font-family: 'Book Antiqua', serif;
    font-size: 5vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 20em;
    
}

h3{
    font-family: 'Book Antiqua', serif;
    font-size: 4vh;
}

p, td, tr{
    font-size: 3vh;
}

/* Classified Results */
#msg{
    font-family: 'Consolas', monospace;
}

/*inference time*/
#time{
    font-family: 'Book Antiqua', serif;
    font-size: 2.5vh;
}


/* Buttons */
.custom-file-upload, #upload, #download-test{
    border: 1px solid #ccc;
    background-color: #dfdfdf;
    display: inline-block;
    /*padding: 12px 12px;*/
    padding: 0.3em 0.3em;
    cursor: pointer;
    font-family: 'Noto Serif TC', serif;
    font-size: 3vh;
    border-radius: 3px;
}

/* Shadow on hover */
.custom-file-upload:hover, #upload:hover, #download-test:hover{
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Don't show default file upload button */
input[type="file"] {
    display: none;
}

/* Place the Explanation Table in the center */
.ex-table{
    margin-left: auto;
    margin-right: auto;
}

/* Tags description in the table */
.tag{
    font-family: 'Consolas', monospace;
}

/* footnote */
.footnote{
    font-family: 'Book Antiqua', serif;
    font-size: 2vh;
}

/* Filename Label */
#filename-lbl{
    font-family: 'Book Antiqua', serif;
    font-size: 2vh;
}

#left-col{
    padding-left: 30%;
    padding-right: 0%;
}

#right-col{
    padding-right: 30%;
    padding-left: 0%;
}

#left-col2{
    padding-left: 10%;
    padding-right: 0%;
}

#right-col2{
    padding-right: 10%;
    padding-left: 0%;
}