<!doctype html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>LoGaRT Image Classification</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='upload.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            $('#upload').on('click', function () {
                var form_data = new FormData();
                var ins = document.getElementById('multiFiles').files.length;
                 
                if(ins == 0) {
                    $('#msg').html('<span style="color:red">Select at least one file</span>');
                    return;
                }
                 
                for (var x = 0; x < ins; x++) {
                    form_data.append("files[]", document.getElementById('multiFiles').files[x]);
                }
                 
                $.ajax({
                    url: '/upload', // point to server-side URL
                    dataType: 'json', // what to expect back from server
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: form_data,
                    type: 'post',
                    success: function (response) { // display success response
                        $('#msg').html('');
                        // var isFirst = true;
                        $.each(response, function (key, data) {                         
                            if(key == 'time') {
                                $('#time').html('Inference time: ' + data + 's');
                            } else {
                                // if(isFirst) {
                                var lines = data.split('<br>')
                                lines[0] = '<span style="color:red">' + lines[0] + '</span>'
                                $('#msg').append(lines.join('<br>') + '<br/>');
                                    // isFirst = false;
                                // }
                                // else {
                                    // $('#msg').append('<span style="color:black"' + data + '</span><br/>');
                                // }
                            }
                        })
                    },
                    error: function (response) {
                        $('#msg').html(response.message); // display error response
                    }
                });
            });
        });
    </script>
    <style>
        * {
          box-sizing: border-box;
        }
        
        /* Create two equal columns that floats next to each other */
        .column {
          float: left;
          width: 50%;
          padding: 10px;
        }
        
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        /* Style the table */
        table {
        font-family: 'Book Antiqua', serif;
        border-collapse: collapse;
        width: 50%;
        font-size: 2.5vh;
        }
        td, th {
        border: 1px solid #e1e1e1;
        text-align: left;
        padding: 4px;
        }

    </style>
</head>
<body>
    <div lang="en" class="wrapper">
        <h1>Chinese Local Gazetteers Image Classification Tool</h1>
        <div class="row">
            <div class="column" id="left-col">
                <h3>Upload file</h3>
                <label for="multiFiles" class="custom-file-upload">
                    Select file
                </label>
                <input type="file" style="font-family:'Noto Serif TC',serif" id="multiFiles" name="files[]" multiple="multiple" onchange="readURL(this);"/>
                <button id="upload">Predict</button>
                <form method="get" action="\static\uploads\test_images.zip">
                    <button type="submit" id="download-test">Download test images</button>
                </form>
                <p><img id="blah" src="#" alt="Select your image" onerror="this.style.display='none'" /></p>
                <p id="filename-lbl"></p>
            </div>
            <div class="column" id="right-col">
                <h3>Suggestions:</h3>
                <p id="msg"></p>
                <script type="text/javascript">$('#msg').html('<span>(empty)</span>');</script>
                <!-- <p id="result">{{data}}</p> -->
                <p id="time"></p>
                <!-- <script type="text/javascript">$('#time').html('Inference time:');</script> -->
                <table class="ex-table" style="white-space:nowrap;">
                    <tr>
                        <th>Tag</th>
                        <th>Meaning</th>
                    </tr>
                    <tr>
                        <td class="tag">0 text</td>
                        <td>text form</td>
                    </tr>
                    <tr>
                        <td class="tag">1 scenic</td>
                        <td>scenic map</td>
                    </tr>
                    <tr>
                        <td class="tag">2 city</td>
                        <td>city map</td>
                    </tr>
                    <tr>
                        <td class="tag">3 admin</td>
                        <td>administrative map</td>
                    </tr>
                    <tr>
                        <td class="tag">4 star</td>
                        <td>star map</td>
                    </tr>
                    <tr>
                        <td class="tag">5 photo</td>
                        <td>photograph</td>
                    </tr>
                    <tr>
                        <td class="tag">6 human</td>
                        <td>human figures</td>
                    </tr>
                    <tr>
                        <td class="tag">7 object</td>
                        <td>objects</td>
                    </tr>
                    <tr>
                        <td class="tag">8 bldg</td>
                        <td>building</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="column" id="left-col2">
                <p class="footnote" style="text-align: left">
                    @misc{chen_hou_tsai_liao_chen_chang_2023,
                        <br>title={Local Gazetteers Research Tools (LoGaRT) image classification tool}, 
                        <br>author={Chen, Jhe-An and Hou, Jen-Chien and Tsai, Richard Tzong-Han and Liao, Hsiung-Ming and Chen, Shih-Pei and Chang, Ming-Ching},
                        <br>url={http://logart-ict.map.net.tw/},
                        <br>year={2023}, 
                        <br>month={Feb}}
                </p>
            </div>
            <div class="column" id="right-col2">
                <p class="footnote" style="text-align: right">
                    <br> contact information: thtsai@csie.ncu.edu.tw 
                    <br> web service developed by RCHSS, Academia Sinica 
                    <br> data provided by Harvard-Yenching Library 
                    <br> data annotated by the Local Gazetteer Working Group at MPIWG
                </p>
            </div>
        </div>
    </div>
</body>